
//COLORS
$color-primary: rgb(170, 72, 57);
$color-primary-light: rgb(248, 246, 130);
$color-primary-dark: rgb(99, 6, 15);

$color-snd: rgb(152, 37, 48);
$color-snd-light:rgb(57, 0, 5);
$color-snd-dark:  rgb(23, 0, 2);

$color-trd: rgb(255, 204, 81);
$color-trd-light:rgb(244, 183, 38);
$color-trd-dark:  rgb(204, 147, 9);

$color-fth: rgb(255, 108, 81);
$color-fth-light:rgb(204, 39, 9);
$color-fth-dark:  rgb(161, 25, 0);

//GREY - BLACK - WHITE
$color-grey-dark-more: #999;
$color-grey-dark: #666;
$color-grey-light: #ddd;

$color-white: #fff;
$color-black: #000;



//GRID SIZE
$grid-width: 114rem;
$space-between-columns: 6rem;
$space-between-rows: 5rem;
$space-between-rows-s: 3.5rem;

//REPETITIVE FONTS
$default-heading: 1.7rem;
